<div class="error_page">
  <div class="support-grid"></div>

  <div class="thumb" style="padding-bottom: 0;">
    <img src="/assets/mischicanadas/img/404.svg" style="width: 100%;"/>
  </div>
  <br>
  <div class="post-content">
    <h1 style="display: flex; justify-content: center; align-items: center;font-size: 3em;">
      <%= error_message %>
    </h1>
  </div>

  <div class="support-grid"></div>
</div>