<div id="post">
    <h1><%= post[0].title %></h1>
    <p class="post_author_date"> <a href="/profile" class="profile"><%= post[0].author %></a> &#8226; <%= post[0].created_at %></p>
  <%= response_post %>
</div>